
.swiper-wrapper
{
    height:300px !important;
}
.swiper-button-prev {
    color: red;     
  }
  .swiper-button-next {
    color: green; 
  }
  .swiper-button-next:after 
  {
      font-size:25px;
  }
  .swiper-button-prev:after
  {
      font-size:25px;
  }

  
  